[submodule "extern/openfe"]
	path = extern/openfe
	url = git@github.com:OpenFreeEnergy/openfe.git
[submodule "extern/alchemlyb"]
	path = extern/alchemlyb
	url = git@github.com:alchemistry/alchemlyb.git
