[submodule "extern/alchemlyb"]
	path = extern/alchemlyb
	#url = git@github.com:alchemistry/alchemlyb.git
	# https://github.com/yuxuanzhuang/alchemlyb/tree/reduce
	url = https://github.com/yuxuanzhuang/alchemlyb.git
[submodule "extern/rocklinc"]
	path = extern/rocklinc
	url = https://github.com/yuxuanzhuang/rocklinc.git
